<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>yujinms</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- App favicon -->
        <link rel="shortcut icon" href="static/images/favicon.ico">

        <!-- App css -->
        <link href="static/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="static/css/app.min.css" rel="stylesheet" type="text/css" />
    </head>

    <body data-layout="topnav">

        <!-- Begin page -->
        <div class="wrapper">

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">

                    <!-- Topbar Start -->
                    <div class="navbar-custom topnav-navbar">
                        <div class="container-fluid">
                            <a href="index.html" class="topnav-logo">
                                <span class="topnav-logo-lg">
                                    <img src="static/images/logo.png" alt="" height="20">
                                </span>
                                <span class="topnav-logo-sm">
                                    <img src="static/images/logo.png" alt="" height="20">
                                </span>
                            </a>
                            </ul>
                            <a class="navbar-toggle"  data-toggle="collapse" data-target="#topnav-menu-content">
                                <div class="lines">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- end Topbar -->


                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row pb-3">
                        </div>
                        <!-- end page title -->

                        <div class="row">

                            <div class="col-xl-6 text-center">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Monitoring</h4>

                                        <div class="row text-center">

                                            <div class="col-sm-4">
                                                <div class="card widget-flat">
                                                    <div class="card-body">
                                                        <h5 class="text-muted font-weight-normal mt-0">plc_m0</h5>
                                                        <h3 id="plc_m0" class="mt-1 mb-1">-</h3>
                                                        <div class="col-sm-12">
                                                            <button type="button" id="plc_m0_button" class="btn btn-secondary btn-rounded col-sm-11 text-uppercase">off</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card widget-flat">
                                                    <div class="card-body">
                                                        <h5 class="text-muted font-weight-normal mt-0">plc_m1</h5>
                                                        <h3 id="plc_m1" class="mt-1 mb-1">-</h3>
                                                        <div class="col-sm-12">
                                                            <button type="button" id="plc_m1_button" class="btn btn-secondary btn-rounded col-sm-11 text-uppercase">off</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card widget-flat">
                                                    <div class="card-body">
                                                        <h5 class="text-muted font-weight-normal mt-0">plc_m2</h5>
                                                        <h3 id="plc_m2" class="mt-1 mb-1">-</h3>
                                                        <div class="col-sm-12">
                                                            <button type="button" id="plc_m2_button" class="btn btn-secondary btn-rounded col-sm-11 text-uppercase">off</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6 text-center">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="header-title mb-3">Control</h4>

                                        <div class="row text-center">

                                            <div class="col-sm-4">
                                                <div class="card widget-flat">
                                                    <div class="card-body">
                                                        <h5 class="text-muted font-weight-normal mt-0">plc_x0</h5>
                                                        <h3 id="plc_x0" class="mt-1 mb-1">-</h3>
                                                        <div class="col-sm-12">
                                                            <button type="button" id="plc_x0_button" class="btn btn-secondary btn-rounded col-sm-11 text-uppercase">off</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card widget-flat">
                                                    <div class="card-body">
                                                        <h5 class="text-muted font-weight-normal mt-0">plc_x1</h5>
                                                        <h3 id="plc_x1" class="mt-1 mb-1">-</h3>
                                                        <div class="col-sm-12">
                                                            <button type="button" id="plc_x1_button" class="btn btn-secondary btn-rounded col-sm-11 text-uppercase">off</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-4">
                                                <div class="card widget-flat">
                                                    <div class="card-body">
                                                        <h5 class="text-muted font-weight-normal mt-0">Connect?</h5>
                                                        <h3 id="isConnected" class="mt-1 mb-1 text-uppercase text-danger">-</h3>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row text-center">
                                            <div class="col-lg-12">
                                                <h4 class="header-title mb-3">monitoring graph</h4>
                                                <div id="containerMonitoring" style="height: 300px;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row">

                </div>

                <!-- Footer Start -->
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                2022 © yujinms
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- App js -->
        <!-- app.min.js에 jquery-3.3.1이 임베딩되어 있음 -->
        <script src="static/js/app.min.js"></script>
        <!-- 뒤에 최신 jquery를 추가하면 최신버전으로 로딩됨 -->
        <script src="static/js/jquery-3.6.0.min.js"></script>

        <!-- pallete platform state & graph start -->
        <script src="static/js/highcharts/highcharts.js"></script>
        <script src="static/js/highcharts/data.js"></script>
        <script src="static/js/highcharts/exporting.js"></script>
        <script>
            containerMonitoring = Highcharts.chart('containerMonitoring', {
                chart: {
                    type: 'spline',
                    // animation: Highcharts.svg, // don't animate in old IE
                    animation: false,
                    marginRight: 10,
                    events: {
                        load: function() {
                            // 그래프가 XY, Z로 분리되면서 외부 함수에서 호출함
                        }
                    }
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    title: {
                        text: 'Time'
                    }
                },
                yAxis: {
                    title: {
                        text: 'values'
                    }
                },
                series: [{name: 'plc_m0'}, {name: 'plc_m1'}, {name: 'plc_m2'}].map(function(s) {
                    s.data = [];
                    // 화면에 플롯되는 데이터 개수
                    for (var i = 0; i < 200; i++) {
                        s.data.push(0);
                    }
                    return s;
                })
            });

            getData();
            // 데이터 수신주기(200ms)
            setInterval(getData, 200);
            function getData() {
                $.ajax({
                    url: '/post/getData',
                    type: 'POST',
                    success: function (args) {
                        var data = JSON.parse(args);
                        // console.log(data);
                        if (data.error == false && data.message != null) {
                            containerMonitoring.series[0].addPoint(parseFloat(data.message.plc_m0), false, true);
                            containerMonitoring.series[1].addPoint(parseFloat(data.message.plc_m1), false, true);
                            containerMonitoring.series[2].addPoint(parseFloat(data.message.plc_m2), false, true);
                            containerMonitoring.redraw();

                            document.getElementById('plc_m0').innerHTML = data.message.plc_m0;
                            document.getElementById('plc_m1').innerHTML = data.message.plc_m1;
                            document.getElementById('plc_m2').innerHTML = data.message.plc_m2;

                            document.getElementById('plc_x0').innerHTML = data.message.plc_x0;
                            document.getElementById('plc_x1').innerHTML = data.message.plc_x1;

                            if (data.message.plc_m0 != 0) {
                                document.getElementById('plc_m0_button').innerHTML = "on";
                                $('#plc_m0_button').removeClass('btn-secondary');
                                $('#plc_m0_button').addClass('btn-success');
                            } else {
                                document.getElementById('plc_m0_button').innerHTML = "off";
                                $('#plc_m0_button').removeClass('btn-success');
                                $('#plc_m0_button').addClass('btn-secondary');
                            }

                            if (data.message.plc_m1 != 0) {
                                document.getElementById('plc_m1_button').innerHTML = "on";
                                $('#plc_m1_button').removeClass('btn-secondary');
                                $('#plc_m1_button').addClass('btn-success');
                            } else {
                                document.getElementById('plc_m1_button').innerHTML = "off";
                                $('#plc_m1_button').removeClass('btn-success');
                                $('#plc_m1_button').addClass('btn-secondary');
                            }

                            if (data.message.plc_m2 != 0) {
                                document.getElementById('plc_m2_button').innerHTML = "on";
                                $('#plc_m2_button').removeClass('btn-secondary');
                                $('#plc_m2_button').addClass('btn-success');
                            } else {
                                document.getElementById('plc_m2_button').innerHTML = "off";
                                $('#plc_m2_button').removeClass('btn-success');
                                $('#plc_m2_button').addClass('btn-secondary');
                            }

                            document.getElementById('isConnected').innerHTML = 'on';    // 통신이 안되면 NO, 되는데 이상하면 ERR
                            $('#isConnected').removeClass('text-danger');
                            $('#isConnected').addClass('text-success');
                        } else {
                            document.getElementById('isConnected').innerHTML = 'err';    // 통신이 안되면 NO, 되는데 이상하면 ERR
                            $('#isConnected').removeClass('text-danger');
                            $('#isConnected').addClass('text-success');
                        }
                    },
                    error: function (args) {
                        document.getElementById('isConnected').innerHTML = 'no';    // 통신이 안되면 NO, 되는데 이상하면 ERR
                        $('#isConnected').removeClass('text-success');
                        $('#isConnected').addClass('text-danger');
                    }
                });
            }
        </script>

        <!-- platform control start -->
        <script>
            init_control();

            function init_control() {
                // window.addEventListener('resize', onWindowResize, false);

                // $('#plc_x0_button').mousedown(
                $('#plc_x0_button').on('mousedown touchstart', 
                    function () {
                        $.ajax({
                            url: '/post/plc_x0_down',
                            type: 'POST',
                            data: $('').serialize(),
                            success: function (args) {
                                var data = JSON.parse(args);
                                if (data.error == true) {
                                    console.log(data.message);
                                    // alert(data.message);
                                } else {
                                    $('#plc_x0_button').removeClass('btn-secondary');
                                    $('#plc_x0_button').addClass('btn-success');
                                    // console.log('plc_x0_button mousedown');
                                    // alert('plc_x0_button mousedown');
                                }
                            },
                            error: function (args) {
                                console.log('plc_x0_button mousedown fail');
                                // alert('plc_x0_button mousedown fail');
                            }
                        });
                    }
                );

                // $('#plc_x0_button').mouseup(
                $('#plc_x0_button').on('mouseup touchend', 
                    function () {
                        $.ajax({
                            url: '/post/plc_x0_up',
                            type: 'POST',
                            data: $('').serialize(),
                            success: function (args) {
                                var data = JSON.parse(args);
                                if (data.error == true) {
                                    console.log(data.message);
                                    // alert(data.message);
                                } else {
                                    $('#plc_x0_button').removeClass('btn-success');
                                    $('#plc_x0_button').addClass('btn-secondary');
                                    // console.log('plc_x0_button mouseup');
                                    // alert('plc_x0_button mouseup');
                                }
                            },
                            error: function (args) {
                                console.log('plc_x0_button mouseup fail');
                                // alert('plc_x0_button mouseup fail');
                            }
                        });
                    }
                );

                // $('#plc_x1_button').mousedown(
                $('#plc_x1_button').on('mousedown touchstart', 
                    function () {
                        $.ajax({
                            url: '/post/plc_x1_down',
                            type: 'POST',
                            data: $('').serialize(),
                            success: function (args) {
                                var data = JSON.parse(args);
                                if (data.error == true) {
                                    console.log(data.message);
                                    // alert(data.message);
                                } else {
                                    $('#plc_x1_button').removeClass('btn-secondary');
                                    $('#plc_x1_button').addClass('btn-success');
                                    // console.log('plc_x1_button mousedown');
                                    // alert('plc_x1_button mousedown');
                                }
                            },
                            error: function (args) {
                                console.log('plc_x1_button mousedown fail');
                                // alert('plc_x1_button mousedown fail');
                            }
                        });
                    }
                );

                // $('#plc_x1_button').mouseup(
                $('#plc_x1_button').on('mouseup touchend', 
                    function () {
                        $.ajax({
                            url: '/post/plc_x1_up',
                            type: 'POST',
                            data: $('').serialize(),
                            success: function (args) {
                                var data = JSON.parse(args);
                                if (data.error == true) {
                                    console.log(data.message);
                                    // alert(data.message);
                                } else {
                                    $('#plc_x1_button').removeClass('btn-success');
                                    $('#plc_x1_button').addClass('btn-secondary');
                                    // console.log('plc_x1_button mouseup');
                                    // alert('plc_x1_button mouseup');
                                }
                            },
                            error: function (args) {
                                console.log('plc_x1_button mouseup fail');
                                // alert('plc_x1_button mouseup fail');
                            }
                        });
                    }
                );
            }
        </script>
        <!-- platform control end -->

    </body>
</html>
